{% extends 'base.html.twig' %}

{% block title %}GroupChannels{% endblock %}

{% block body %}
    <h1>GroupChannels</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>GroupChannelId</th>
                <td>{{ group_channel.groupChannelId }}</td>
            </tr>
            <tr>
                <th>ChannelName</th>
                <td>{{ group_channel.channelName }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ group_channel.createdBy }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ group_channel.createdAt ? group_channel.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedBy</th>
                <td>{{ group_channel.updatedBy }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ group_channel.updatedAt ? group_channel.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_group_channels_index') }}">back to list</a>

    <a href="{{ path('app_group_channels_edit', {'groupChannelId': group_channel.groupChannelId}) }}">edit</a>

    {{ include('group_channels/_delete_form.html.twig') }}
{% endblock %}
